.herobg {
    background-color: darkcyan;
    height: 600px;

}

.shop {

    background-color: aquamarine;
    height: 680px;
}

.aboutus {
    background-color: aliceblue;
    height: 425px;

}


.contactus {
    background-color: deepskyblue;
    height: 320px;

}


.footer {

    background-color: blanchedalmond;
    height: 170px;
}
